<%- include("partials/header.ejs") -%>

<% blogs = blogs.filter(blog => !['About','Contact'].includes(blog.title)) %>
<% blogs.forEach((blog)=>{ %>
    <h1><%= blog.title %></h1>
    <p><%= blog.post.slice(0,100) + "..." %> <a style="text-decoration: none;" href="posts/<%= blog.id %>">Read More</a>
        <% }) %></p>    
 <%- include("partials/footer.ejs") -%>
